@font-face {
    font-family: "CrunchyCrab";
    src: url("../fonts/Crunchy\ Crab.otf");
}

@font-face {
    font-family: "IceMakerR";
    src: url("../fonts/IceMakerDemoRegular.ttf");
}

@font-face {
    font-family: "MadeInfinity_B";
    src: url("../fonts/MADEINFINITYPersonalUse-Black.otf");
}

@font-face {
    font-family: "MadeInfinity_L";
    src: url("../fonts/MADEINFINITYPersonalUse-Light.otf");
}

@font-face {
    font-family: "MadeInfinity_M";
    src: url("../fonts/MADEINFINITYPersonalUse-Medium.otf");
}

@font-face {
    font-family: "MadeInfinity_R";
    src: url("../fonts/MADEINFINITYPersonalUse-Regular.otf");
}

@font-face {
    font-family: "MadeInfinity_T";
    src: url("../fonts/MADEINFINITYPersonalUse-Thin.otf");
}

@font-face {
    font-family: "TokinoKun";
    src: url("../fonts/Tokino\ Kun.otf");
}

@font-face {
    font-family: "Tokiyo";
    src: url("../fonts/Tokiyo-Regular.otf");
}