body {
  background-image: url("../img/32.gradients.ray.st.png");
}

.carousel {
  font-family: "MadeInfinity_L";
  font-size: 1.5em;
  color: aliceblue;
  margin: 0 auto;
  max-width: 680px;
  border-radius: 20%;
}

.carousel-cell {
  margin: 0 auto;
  padding: 5%;
  width: 40%;
  min-height: 300px;
  border-radius: 15px;
  transition: all 0.3s ease;
  opacity: 1;
  background: #585858;
  box-shadow: #610d4c 0px 30px 40px, #484ace 0px -20px 39px,  #610d4c 0px -3px 15px;
}

.carousel .carousel-cell .Joueur {
  font-size: 1.4em;
  text-align: center;
  font-family: "MadeInfinity_B";
  text-shadow: 10px 2px 17px rgba(0, 196, 255, 0.67),-8px -1px 17px rgba(255, 0, 238, 0.57);
}

.carousel .carousel-cell .Veridad {
  overflow-wrap: break-word;
  font-size: 1em;
}

@media screen and (max-width: 700px) {
  .carousel-cell{
    margin-top: 6rem!important;
    width: 80%;
  }
}
